<!-- 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Filename: build_connection_no_tracking.launch
Last Update: 10/03/2018

Description: For a manual control of a single CF by joysticks 
			 without Optitrack cameras.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->

<launch>
  <arg name="uri" default="radio://0/80/2M/E7E7E7E701" />
  <arg name="joy_dev" default="/dev/input/js0" />
  
  <!-- Joystick -->
  <node name="joy_node" pkg="joy" type="joy_node" output="screen">
	<param name="dev" value="$(arg joy_dev)"/>
  </node>

  <!-- Crazyflie Server-->
  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch" />
  
  <!-- Connect to the default CF2 -->
  <group ns="crazyflie">
	<include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
		<arg name="uri" value="$(arg uri)" />
		<arg name="tf_prefix" value="crazyflie" />
		<arg name="enable_logging" value="False" />
	</include>


	<node name="pose" pkg="lab" type="joystick_control.py" output="screen">
		<param name="joy_topic" value="/joy" />
	</node>
  </group>
</launch>