<!-- 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Filename: build_connection_with_tracking.launch
Last Update: 10/03/2018

Description: For a single CF hovering with Optitrack cameras.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->

<launch>
  <arg name="uri" default="radio://0/100/2M/E7E7E7E703" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="frame" default="cf3"/>
  <arg name="pose" default="/vrpn_client_node/$(arg frame)/pose"/>

  <!-- Optitrack Connection -->
  <include file="$(find vrpn_client_ros)/launch/optitrack.launch" />
  
  <!-- Joystick -->
  <node name="joy" pkg="joy" type="joy_node" output="screen">
	<param name="dev" value="$(arg joy_dev)"/>
  </node>	

  <!-- Crazyflie Server-->
  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch" />
  <group ns="crazyflie">
	<include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
		<arg name="uri" value="$(arg uri)" />
		<arg name="tf_prefix" value="crazyflie" />
		<arg name="enable_logging" value="False" />
	</include>

	<node name="joystick_button" pkg="lab" type="joystick_button.py" output="screen">
		<param name="joy_topic" value="/joy"/>
	</node>

	<node name="pose" pkg="lab" type="static_goal.py" output="screen">
		<param name="name" value="goal"/>
		<param name="rate" value="30"/>
		<param name="x" value="0.0"/>
		<param name="y" value="0.0"/>
		<param name="z" value="0.5"/>
		<param name="yaw" value="0.0"/>
	</node>

	<node name="pid_controller" pkg="lab" type="pid_controller" output="screen">
		<param name="target" value="goal"/>
		<param name="pose" value="$(arg pose)"/>
		<param name="frequency" value="150"/>
		<rosparam command='load' file="$(find lab)/config/drone4.yaml"/>
	</node>
  </group>

</launch>
