<!-- 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Filename: build_connection_no_tracking.launch
Last Update: 10/03/2018

Description: For a formation control of three CFs
			with Optitrack cameras
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->

<launch>
  <arg name="uri1" default="radio://0/100/2M/E7E7E7E703" />
  <arg name="uri2" default="radio://0/100/2M/E7E7E7E706" />
  <arg name="uri3" default="radio://0/90/2M/E7E7E7E708" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="frame1" default="cf3"/>
  <arg name="frame2" default="cf6"/>	
  <arg name="frame3" default="cf8"/>
  <arg name="pose1" default="/vrpn_client_node/$(arg frame1)/pose"/>
  <arg name="pose2" default="/vrpn_client_node/$(arg frame2)/pose"/>
  <arg name="pose3" default="/vrpn_client_node/$(arg frame3)/pose"/>

  <!-- Optitrack Connection -->
  <include file="$(find vrpn_client_ros)/launch/optitrack.launch" />
  
  <!-- Joystick -->
  <node name="joy" pkg="joy" type="joy_node" output="screen">
	  <param name="dev" value="$(arg joy_dev)"/>
  </node>	

  <!-- Crazyflie Server-->
  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch" />
  <group ns="crazyflie1">
	<include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
		<arg name="uri" value="$(arg uri1)" />
		<arg name="tf_prefix" value="crazyflie1" />
		<arg name="enable_logging" value="False" />
	</include>

	<node name="pid_controller" pkg="lab" type="pid_controller" output="screen">
		<param name="target" value="/goal1"/>
		<param name="pose" value="$(arg pose1)"/>
		<param name="frequency" value="150"/>
		<rosparam command='load' file="$(find lab)/config/drone4.yaml"/>
	</node>

	<node name="joystick_button" pkg="lab" type="joystick_button_switch.py" output="screen">
		<param name="joy_topic" value="/joy"/>
	</node>
  </group>

  <group ns="crazyflie2">
	<include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
		<arg name="uri" value="$(arg uri2)" />
		<arg name="tf_prefix" value="crazyflie2" />
		<arg name="enable_logging" value="False" />
	</include>

	<node name="pid_controller" pkg="lab" type="pid_controller" output="screen">
		<param name="target" value="/goal2"/>
		<param name="pose" value="$(arg pose2)"/>
		<param name="frequency" value="150"/>
		<rosparam command='load' file="$(find lab)/config/drone4.yaml"/>
	</node>

	<node name="joystick_button" pkg="lab" type="joystick_button_switch.py" output="screen">
		<param name="joy_topic" value="/joy"/>
	</node>
  </group>

  <!--group ns="crazyflie3">
	<include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
		<arg name="uri" value="$(arg uri3)" />
		<arg name="tf_prefix" value="crazyflie3" />
		<arg name="enable_logging" value="False" />
	</include>

	<node name="pid_controller" pkg="lab" type="pid_controller" output="screen">
		<param name="target" value="/goal3"/>
		<param name="pose" value="$(arg pose3)"/>
		<param name="frequency" value="150"/>
		<rosparam command='load' file="$(find lab)/config/drone4.yaml"/>
	</node>

	<node name="joystick_button" pkg="lab" type="joystick_button_switch.py" output="screen">
		<param name="joy_topic" value="/joy"/>
	</node>
  </group-->

  <node name="pose" pkg="lab" type="three_drones.py" output="screen">
	<param name="rate" value="30"/>
  </node>
</launch>